body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Baskerville Old Face';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    font-family: 'Baskerville Old Face';
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*I shouldn't have to define all the tags, it should be able to */
h1, h2, h3, h4, h5, h6, p, tr, td, span, input {
    font-family: 'Baskerville Old Face';
}
h3, h4, h5, h6 {
    /*font-family: 'Baskerville Old Face';*/
    /*font-weight: bold;*/
    text-align: center;
    text-decoration-color: #C29797;
}

tr:nth-child(even) {
    background-color: #99C3C3;
}

.headers {
    font-weight: bold;
    text-align: center;
    text-decoration: #99C3C3;
}

.tableHeaders {
    border-bottom: double;
    text-align: center;
    font-weight: bold;
    text-decoration-color: #0D3737;
}

.table {
    border-collapse: collapse;
    width: 100%;
    padding: 4px;
}
